<!DOCTYPE html>
<html>
  <head>
    <title>ArtGalleryMajo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div class="home_icons">
          <a href="https://wa.me/<34655536287>"target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/lagula_pizza/?hl=es"target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="text-inicio">
          <p>Inicio</p>
        </div>
        <div class="text-contacto">
          <p>Contacto</p>
        </div>
      </div>
      <hr>
      <%= yield %>
    </div>
  </body>
</html>
